<div *ngIf="artist">
    <header class="artist-header">
        <div *ngIf="artist.images.length > 0">
            <img class="artist-thumb" src="{{artist.images[0].url}}">
        </div>
        <h1>{{artist.name}}</h1>
        <p *ngIf="artist.genres.length > 0">
            <span *ngFor="let genre of artist.genres" class="label label-default" style="margin-right: 4px">{{genre}}</span>
        </p>
    </header>

    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums">
                <div class="col-md-3">
                    <div class="well album">
                        <div *ngIf="album.images.length > 0">
                            <a href="#">
                                <img src="{{album.images[0].url}}" class="album-thumb img-thumbnail">
                            </a>
                            <h5>{{album.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>